.middle{
    position: relative;
    width: 1210px;
    left: 50%;
    transform: translateX(-50%);
}
/*头部区域开始*/
.header{
    position: relative;
    width: 1200px;
    height: 80px;
}
.header .logo{
    position: absolute;
    left: 0;
    top: 15px;
    font-size: 30px;
    color: #c40000;
}
.header .explain{
    position: absolute;
    right: 0;
    top: 15px;
    width: 950px;
    height: 100px;
}
.header .explain a {
    position: absolute;
    left: 0;
    top: 10px;
    cursor: default;
}
.header .phone-nub{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 34px;
    color: #c40000;
}
.header .phone-nub img {
    width: 33px;
    height: 40px;
}
#tooltip{padding: 1px;position: absolute;display: none;background: #ffffff;}
/*头部区域结束*/

/*导航条开始*/
.nav-background{
    width: 100%;
    height: 50px;
    background: #3c3c3c;
    position: relative;
    z-index: 2;
}
#nav{
    width: 1210px;
    z-index: 2;
}
#nav ul{
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #3c3c3c;
}
#nav ul li{
    color: #FFF;
    float: left;
    padding: 0 10px;
    cursor:pointer;
    font-size: 18px;
}
#nav ul li a{
    color: #FFF;
}
#nav ul li:hover{
    background: #101010;
}
#nav #contactInformation{
    width: 300px;
    height: 150px;
    position: absolute;
    left: 60px;
    display: none;
}
#nav #contactInformation a{
    display: block;
    text-align: left;
    line-height: 50px;
    font-size:18px;
    padding-left: 10px;
}
#nav #contactInformation a.phone{
    background:#162e2e;
    color: #1bbc9b;
}
#nav #contactInformation a.email{
    background:#312e1f;
    color: #fdbd1f;
}
#nav #contactInformation a.advice{
    background:#2f2123;
    color: #c54337;
}
/*导航条结束*/

/*商品展示区域开始*/
#myDisplay{
    width: 1210px;
    height: 495px;
    background-color: #eee;
}
#myDisplay .left {
    font-size: 30px;
}
#myDisplay .left img {
    margin-top: 10px;
    margin-left: 30px;
    width: 400px;
}

/*商品展示右侧区域*/
#myDisplay .right{
    position: absolute;
    left: 500px;
    top: 0;
}
#myDisplay .right .title{
    position: relative;
    width: 710px;
    height: 60px;
    margin-top: 20px;
}
#myDisplay .right .title span{
    position: absolute;
    top: 34px;
    font-family: "Arial";
    font-size: 12px;
    color: #c40000;
}
#myDisplay .right .price{
    position: relative;
    width: 710px;
    height: 75px;
    border-bottom: 1px solid #fff;
}
#myDisplay .right .price .xiaoxi1{
    display: none;
    position: absolute;
    top:0;
    left: 300px;
    width:333px;
    height:26px;
    line-height: 26px;
    background: url("../img/xiaoxikuang1.jpg") no-repeat 0 0 ;
    padding-left: 10px;
}
#myDisplay .right .price .mall-price{
    position: absolute;
    top: 9px;
    left: 0;
}
#myDisplay .right .price .price-number{
    position: absolute;
    left: 55px;
    top: -10px;
    color: #c40000;
}
#myDisplay .right .price .price-number b{
    font-size: 32px;
}
#myDisplay .right .price #rent{
    position: absolute;
    left: 224px;
    top: 7px;
}
#myDisplay .right .price .location{
    position: absolute;
    left: 0px;
    top: 47px;
}
#myDisplay .right .price .location .city{
    position: absolute;
    left: 71px;
    top: 0;
    display: block;
    width: 110px;
    height: 16px;
    font-size: 12px;
    background: #c40000;
    text-align: center;
    padding-top: 0px;
    color: #FFF;
}
#myDisplay .right .deliver-goods{
    position: relative;
    border-bottom: 1px solid #fff;
    width: 710px;
    height: 90px;
}
#myDisplay .right .deliver-goods .one{
    position: absolute;
    top: 26px;
    width: 700px;
    height: 16px;
    line-height: 16px;
}
#myDisplay .right .deliver-goods .one .destination div{
    float: left;
    margin-right: 5px;
}
#myDisplay .right .deliver-goods .one .destination #distributionTime #xiaoxi2{
    display: none;
    position: absolute;
    top:18px;
    left: -82px;
    width:219px;
    height:31px;
    text-align: center;
    line-height: 36px;
    background: url("../img/xiaoxikuang2.png") no-repeat 0 0 ;
}
#myDisplay .right .deliver-goods .two{
    position: absolute;
    top: 63px;
    width: 300px;
}
#myDisplay .right .buy{
    position: relative;
    width: 710px;
    height: 170px;
}
#myDisplay .right .buy .one{
    position: absolute;
    top: 26px;

}
#myDisplay .right .buy .one .introduces{
    position: absolute;
    top: 7px;
    width: 40px;
}
#myDisplay .right .buy .one .web{
    width: 138px;
    height: 23px;
    border: 2px solid #863177;
    text-align: center;
    line-height: 23px;
    cursor: pointer;
}
#myDisplay .right .buy .one .web img{
    position: absolute;
    right: 0;
    bottom: 0;
}
#myDisplay .right .buy .two{
    position: absolute;
    top: 77px;
}
#myDisplay .right .buy .two {
    position: absolute;
    top: 77px;
}
#myDisplay .right .buy .two .introduces{
    position: absolute;
    top: 7px;
    width: 40px;
}
#myDisplay .right .buy .two #mallNum span{
    float: left;
}
#myDisplay .right .buy .two #mallNum .mallNumStyle{
    display: block;
    width: 24px;
    height: 24px;
    border: 1px solid #d9d9d9;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
}
#myDisplay .right .buy .two #mallNum .content{
    width: 38px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    border-top:1px solid #d9d9d9;
    border-bottom:1px solid #d9d9d9;
}
#myDisplay .right .buy .three{
    position: absolute;
    top: 135px;
}
#myDisplay .right .buy .three .flag{
    color: #c40000;
    word-break:keep-all;           /* 不换行 */
    white-space:nowrap;          /* 不换行 */
    overflow:hidden;
    text-overflow:ellipsis;
}
#myDisplay .right .buyNowdiv{
    position: absolute;
    top: 420px;
    right: 300px;
    width: 400px;
}
.buyNow {
    display: block;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    background-color: #c40000 ;
    color: #fff;
}
.buyNow:hover {
    background-color: #d90000;
}
/*商品展示区域结束*/

/*第二个导航条开始*/
#twoNav{
    width: 1210px;
    height: 57px;
    border-bottom: 3px solid #34383b;
}
#twoNav .nav{
    display: block;
    padding: 0 10px;
    height: 57px;
    text-align: center;
    line-height: 58px;
    float: left;
}
#twoNav .select{
    background:#34383b;
    color: #FFF;
}
#twoNav .nav:hover{
    background:#34383b;
    color: #FFF;
}
/*第二个导航条结束*/
/*个人简介和技能书区域开始*/
#introduces{
    width: 1210px;
    height: 658px;
    padding-top: 10px;
}
#introduces .left{
    width: 594px;
    height: 657px;
    background: #8c0000;
}
#introduces .code-dog{
    position: absolute;
    left: 63px;
    top: 45px;
}
#introduces .information{
    position: absolute;
    left: 302px;
    top: 45px;
}
#introduces .left ul{
    position: absolute;
    left: 63px;
    top: 201px;
    width: 470px;
    height: 300px;
}
#introduces .left ul li{
    position: relative;
    width: 470px;
    height: 59px;
    border-bottom: 1px solid #a9a9a9;
    font-size: 18px;
}

#introduces .left ul li div{
    width: 59px;
    height: 59px;
}
#introduces .left ul li .user{background: url("../img/ico.png") no-repeat 0 0;}
#introduces .left ul li .local{background: url("../img/ico.png") no-repeat -236px 0;}
#introduces .left ul li .edu{background: url("../img/ico.png") no-repeat -177px  0;}
#introduces .left ul li .work{background: url("../img/ico.png") no-repeat -59px 0;}
#introduces .left ul li .marry{background: url("../img/ico.png") no-repeat  -118px 0;}
#introduces .left ul li p{
    position: absolute;
    left: 75px;
    top: 0;
    line-height:59px ;
    color: #FFF;
}
#introduces .right{
    position: absolute;
    width: 606px;
    height: 657px;
    top: 10px;
    left: 604px;
}
#introduces .right p{
    width: 606px;
    height: 50px;
    background: #3c3c3c;
    line-height: 50px;
    text-indent: 11px;
    color: #FFF;
    font-size: 24px;
}
#introduces .right ul{
    position: absolute;
    width: 606px;
    height: 606px;
    top:50px;
    left:0;
    background: orange;
}
#introduces .right ul li{
    float: left;
    width: 189px;
    height: 189px;
    background: #fff;
    line-height: 189px;
    text-align: center;
    cursor: move;
    margin:10px 0 0 10px;
    display:inline;
}
#introduces .right ul li:hover{
    background: #7cbaf8;
}
#introduces .right ul li img {
    width: 189px;
    height: 185px;
}
/*个人简介和技能书区域结束*/

/*工作经历区域开始*/
#menu {
    position: relative;
    margin-top: 50px;
    border-top: 2px solid #999;
    border-bottom: 1px solid #dddddd;
}
#menu .menuTop {
    background: #F7F7F7;
    padding-left: 8px;
    height: 50px;
    line-height: 50px;
}

#menu .menu-child {
    width: 100%;
}

#menu .menu-child h3 {
    position: relative;
    padding: 0 6px 0 36px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #dddddd;
    cursor: pointer;
    font-weight: normal;
}

#menu .menu-child h3 span {
    display: block;
    position: absolute;
    top: 15px;
    left: 10px;
    width: 16px;
    height: 16px;
}

#menu .menu-child h3 span.bg1 {
    background: #999;
    background-position: -42px -28px;
}

#menu .menu-child h3 span.bg2 {
    background: #dddddd;
    background-position: -59px -28px;
}
#menu .menu-child .menu-child-body{
    overflow: hidden;
    border: 1px solid #dddddd;
    border-top:none ;
    height: 100px;
    display: none;
    padding: 10px 10px 30px 36px;
}
#menu .menu-child .select{
    display: block;
}
#menu .menu-child .menu-child-body p{
    font-size: 14px;
}
/*工作经历区域结束*/

/*技能总结区域开始*/
#skillsSummaryBack{
    width: 100%;
    height: 564px;
    background: #efefef;
}
#skillsSummary{
    position: relative;
    width: 1210px;
    height: 550px;
    top: 11px;
}
#skillsSummary .up .left{
    position: absolute;
    left: 0;
    top: 0;
    width: 96px;
    height: 543px;
    background: #0099ff;
}
#skillsSummary .up .left p{
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 30px;
    height: 180px;
    font-size: 30px;
    color: #FFF;
}
#skillsSummary .up .right{
    position: absolute;
    right: 0;
    top: 0;
    width: 1109px;
    height: 550px;
}
#skillsSummary .up .right li{
    width: 1104px ;
    height:59px;
    line-height: 59px;
    background: #fff;
    text-indent: 10px;
    border-bottom: 1px solid #CCC;
    margin-bottom: 10px;
    transition: all 0.6s;
    cursor: pointer;
    font-size: 14px;
}
#skillsSummary .up  .right  li:hover {
    /*text-indent首行缩进的，效果的主要*/
    text-indent: 30px;
    border-radius: 5px;
    color: #fff;
    text-shadow: 0 2px 1px #360;
    background-color: #393;
    /*下面是四套渐变的，没写欧朋的*/
    background-image: -webkit-linear-gradient(top,#62c462,#51a351);
    background-image: -moz-linear-gradient(top,#62c462,#51a351);
    background-image: -ms-linear-gradient(top,#62c462,#51a351);
    background-image: linear-gradient(top,#62c462,#51a351);
}

/*动画效果*/
@-webkit-keyframes moveTop {
    from {
        opacity: 0;
        -webkit-transform: translateY(-200%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
@-moz-keyframes moveTop {
    from {
        opacity: 0;
        -moz-transform: translateY(-200%);
    }
    to {
        opacity: 1;
        -moz-transform: translateY(0%);
    }
}
@-ms-keyframes moveTop {
    from {
        opacity: 0;
        -ms-transform: translateY(-200%);
    }
    to {
        opacity: 1;
        -ms-transform: translateY(0%);
    }
}
@-webkit-keyframes moveBottom {
    from {
        opacity: 0;
        -webkit-transform: translateY(200%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
@-moz-keyframes moveBottom {
    from {
        opacity: 0;
        -moz-transform: translateY(200%);
    }
    to {
        opacity: 1;
        -moz-transform: translateY(0%);
    }
}
@-ms-keyframes moveBottom {
    from {
        opacity: 0;
        -ms-transform: translateY(200%);
    }
    to {
        opacity: 1;
        -ms-transform: translateY(0%);
    }
}
/*技能总结区域结束*/

/*自我评价区域开始*/
#evaluation{
    position: relative;
    top: 20px;
    width: 100%;
    height: 300px;
    background: #1f1f1f;
}
#evaluation .middle{
    width: 1230px;
    height: 280px;
    position: relative;
}
#evaluation .middle li {
    width: 390px;
    height: 200px;
    color: #FFF;
    float: left;
    margin-top: 50px;
    margin-right: 18px;
}
#evaluation .middle li h3 {
    font-size: 16px;
}
#evaluation .middle li div{
    position: relative;
    top: 20px;
}
#evaluation .middle li a{
    display: block;
    margin-bottom: 10px;
    color: #CCC;
    cursor: pointer;
    text-align:justify;
    font-size: 14px;
}
#evaluation .middle li a:hover{
    color: #E58994;
}
/*自我评价区域结束*/

/*默认的全局使用样式*/
a{
    text-decoration: none;
    color: #000;
}
.clear{
    clear: both;
}
.introduces{
    font-size: 12px;
    color: #999999;
}
/*下面是商品详情页的附加字样式*/
.blue-font{
    font-size: 12px;
    color: #6388cc;
    position: relative;
    cursor: pointer;
}
.blue-font a{
    width: 12px;
    text-align: center;
    height: 12px;
    line-height: 12px;
    display: block;
    background: #6388cc;
    color: #FFF;
    font-size: 10px;
    position: absolute;
    top: 2px;
    left: 58px;
}
.little-font{
    font-size: 12px;
}
.right-right{
    position: absolute;
    top: 0;
    left: 54px;
    width: 600px;
}

/*兼容60px的标示*/
.middle-clear-flag{
    position:relative;
    width: 1210px;
    height: 60px;
}
.title-flag{
    width: 1210px;
    height: 72px;
    text-align: center;
    line-height: 72px;
    position: relative;
    left: 50%;
    margin-left: -605px;
    background: #3c3c3c;
    color: #FFF;
    font-size: 30px;
}